
/* header */
header{
  background-color:#C39BD3;
  text-align: center;
  margin-bottom: 40px;
  display: block;
  height: 80px;
}
/* h1 */
h1 {
  margin: 0;
  color: black;
  font-family:cursive, serif,'times new roman';
  padding: 20px 0;
  font-size: 40px;
  height: 16px;
}

/* image */
.img-style {
  width: 30%;
  text-align: center;
  height: 40px;
  border-radius:30px;
}


/* body h2 h3 */
body h2 h3{
  margin: 0;
  font-family: arial , 'times new roman', arial;
  font-size: 20px;
  font-weight: 300; 
  height: 16px;
  color: #38202c;
}
/* wrapper */
.wrapper main {
  padding-left: 10px;
  text-align: center;
}

/* pseudo-class links */ 
a:any-link {
  color: #633974;
}

/* footer */
footer {
  background-color:#C39BD3;
  text-align: center;
  font-family: cursive, serif,'Times New Roman';
}